.weatherCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  border-radius: 50px;
  margin-bottom: 20px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.weatherCard div {
  display: flex;
  align-items: center;
}
.temperature {
  font-size: 48px;
  margin: 0px;
}
.nameOfCity {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #d434f752, #9f28c3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0px;
}
.description {
  font-size: 24px;
  text-transform: capitalize;
}
